.footer{
    background: linear-gradient(to right, #1d4350, #a43931);
    margin-left: 0%;
    margin-right:0%;
    min-width: 100%;
    padding-bottom: 15px;
    
}

.columna{
    padding-right: 8px;
}
