.botones {
    background-color: #2870ae; 
}
.contenedor {
    padding: 0px;
    margin: 0px;
}
.botonAgregaLote {
    background-color: #043a69;
    margin-top: 10px;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    color: white;
    border-color: white;
}

