.contenedor{
    padding-top: 25px;
    font-style: italic;
    color: antiquewhite;
    margin: auto;
    background-color: #C5D5E4;
    overflow: hidden;
   
}
.contenedorCard{
    border-style: solid;
    margin: auto;
    background: linear-gradient(to right, #df101a, #7b080e); 
    max-width: 55%;
}
.img {
    padding-bottom: 20px;
    width: 100%;
}

.botonCarrito {
    background-color: #4c4c4c;
    margin-top: 10px;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    color: white;
    border-color: white;
}