.contenedor{
    padding-top: 25px;
    font-style: italic;
}
.contenedorCard{
    border-style: solid;
    width: 800px;
    margin: auto;
}
.img {
    padding-bottom: 20px;
    width: 500px;
}

.botonCarrito {
    border: solid;
    margin-bottom: 15px;
    background-color: #f4decb;
}