.card{
    background-color: #C5D5E4;

}
.imagen{
    border-radius: 15px;
    
}
.card-body{
    text-align: center;
    background-color: #C5D5E4;
    border-radius: 15px;

}
.cardText{
    text-align: center;
    justify-content: center;
}
.botonCarrito {
    background-color: #466362;
    margin-top: 10px;
    font-size: 1.2rem;
    border-radius: 50px;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    color: white;
    border-color: white;
    }